<div class="wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="action-bar">
        <mat-form-field (keyup)="filterHeroes($event)" appearance="outline">
          <mat-label>{{'HEROES.NAME_SEARCH' | translate}}</mat-label>
          <input matInput type="search">
        </mat-form-field>
        <button mat-flat-button mat-icon-button (click)="openHeroModal(0)" class="iconbutton" color="primary">
          <mat-icon aria-label="Añadir">add</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> {{'HEROES.GRID.HERO' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> {{'HEROES.GRID.ACTIONS' | translate}} </th>
          <td mat-cell *matCellDef="let element">
            <button [id]="'buttonEdit' + element.id" mat-icon-button matTooltip="Click to Edit"
              (click)="openHeroModal(1,element)" class="iconbutton">
              <mat-icon aria-label="Editar">edit</mat-icon>
            </button>
            <button [id]="'buttonDelete' + element.id" mat-icon-button matTooltip="Click to Delete"
              (click)="deleteHero(element)" class="iconbutton">
              <mat-icon aria-label="Borrar">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator color="primary" #paginator showFirstLastButtons [length]="100" [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
      </mat-paginator>
    </div>

  </div>

</div>