<ng-container *ngIf="heroForm">
    <div class="container">
        <h2 mat-dialog-title>{{'HEROES.MODAL.TITLE' | translate}}</h2>
        <div mat-dialog-content>
            <form [formGroup]="heroForm">
                <div class="content-holder">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'HEROES.MODAL.HERO_NAME' | translate}}</mat-label>
                        <input appUppercase name="name" formControlName="name" matInput>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div class="btn-holder" mat-dialog-actions>
            <button id="cancelButtonModal" class="button-action" type="button" mat-stroked-button color="primary"
                [disabled]="!heroForm.valid" (click)="return()">
                {{'HEROES.MODAL.BTN_CANCEL' | translate}}
            </button>
            <button id="addButtonModal" class="button-action" type="button" mat-flat-button color="primary"
                [disabled]="!heroForm.valid" (click)="closeForm()">
                {{'HEROES.MODAL.BTN_ADD' | translate}}
            </button>
        </div>
    </div>
</ng-container>