.container {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    margin: 2rem;
}

.container .content-holder {
    justify-content: flex-start;
}

.container .btn-holder {
    justify-content: flex-end;
    margin-top: auto;
}

.button-action {
    margin-right: 0.5rem;
}