<ng-container *ngIf="heroForm">
    <div class="container">
        <h2 mat-dialog-title>{{'HEROES.MODAL.TITLE' | translate}}</h2>
        <div mat-dialog-content>
            <form [formGroup]="heroForm">
                <div class="content-holder">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'HEROES.MODAL.HERO_NAME' | translate}}</mat-label>
                        <input appUppercase name="name" formControlName="name" matInput>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div class="btn-holder" mat-dialog-actions>
            <span>
                <button id="closeButtonModal" type="button" mat-stroked-button color="primary"
                    [mat-dialog-close]="undefined">
                    {{'HEROES.MODAL.BTN_CANCEL' | translate}}
                </button>
                <button id="addButtonModal" type="button" mat-flat-button color="primary" [disabled]="!heroForm.valid"
                    [mat-dialog-close]="closeModal()">
                    {{'HEROES.MODAL.BTN_ADD' | translate}}
                </button>
            </span>
        </div>
    </div>
</ng-container>